main {
	padding-right: 30px;
}

.container-one {
	width: 400px;
	height: 300px;
	border: 1px black solid;
}

.inner-one {
	height: 100px;
	background-color: blue;
}

.inner-two {
	width: 50%;
	height: 100px;
	background-color: red;
}